/******************
      GENERAL
******************/
body {
  font-family: sans-serif;
}


a {
  text-decoration: none;
}

.articleTemplate {
  display: none;
}


/******************
      HEADING
******************/

#mainHeader {
  float: left;
  margin: -5px 0 10px 0;
  padding: 5px 0 0 0;
  width: 100%;
}

#mainHeaderText {
  font-family: 'Special Elite', cursive;
  margin: 20px 0;
  padding: 5px;
  text-align: center;
  font-size: 1.75em;

}

/******************
    NAVIGATION
******************/

nav {
  font-family: 'Special Elite', cursive;
  text-align: center;
  padding: 10px 0;
  margin: 10px 0 0 0;
  width: 100%;
}

nav ul {
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

nav li {
  display: inline-block;
  padding-bottom: 5px;
  cursor: pointer;
}

nav ul li a, nav ul li {
  padding: 5px 5px;

}

#filter{
  display:block;
  width: 110px;
  max-width: 100%;
  text-align: center;
  margin: 0 auto;
}

#navFilter {
  width: 170px;
  max-width: 90%;
  position: relative;
  text-align: center;
  display: none;
  margin: 0 auto;
}

.filterSubjects {
  width: 110px;
  display: block;
  padding: 5px 10px;
  text-align: center;
  margin: 0 auto;
}


#authorFilter {
  width: 130px;
  position:absolute;
  top: 0;
  left: 110%;
  text-align: center;
  margin: 0 auto;
  display: none;
}

.authorName {
  width:110px;
  max-width: 100%;
  font-size: .8em;
  display: block;
  padding: 4px 3px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

#categoryFilter {
  width: 120px;
  position:absolute;
  top: 40%;
  left: 120%;
  text-align: center;
  margin: 0 auto;
  display: none;
}

.categorySubject {
  width:100px;
  max-width: 100%;
  font-size: .8em;
  display: block;
  padding: 4px 3px;
  text-align: center;
  position: relative;
  margin: 0 auto;
}

/******************
     About Me
******************/
#AboutMe {
  width: 960px;
  max-width: 90%;
  margin: 5px auto;
  display:none;
}

/******************
     Articles
******************/

.article {
  width: 960px;
  max-width: 90%;
  margin: 5px auto;
}

.article h1 {
  font-family: 'Special Elite', cursive;
}

.author {
  margin-bottom: 2px;
}

.PublishDate {
  font-family: fantasy;
  font-size: .8em;
}

.article img {
  width: 200px;
  height: 200px;
  max-width: 100%;
  display: inline-block;
  margin: 5px;
}

.article img:nth-of-type(odd) {
  float: left;
}

.article img:nth-of-type(even) {
  float: right;
}

.article hr {
  clear: both;
}

.expand, .hide {
  font-size: .9em;
  font-weight: bold;
  display: inline-block;
  padding: 2px;
}

#author {
  font-weight: bold;
  font-size: .8em;
  margin-bottom: 5px;
}

/******************
   MAIN COLORS
******************/

#mainHeader{
  background-color: #2C3E50;
}

#mainHeaderText {
  color: #ECF0F1;
}

nav {
  background-color: #495152;
}

nav li a, nav ul li {
  color: #ECF0F1;
}

nav ul li a:hover, nav ul li:hover {
  color: #F2B100;
}

#filter {
  color: lightgreen;
}

#navFilter {
  background-color: #495152;
}

.filterSubjects {
  color: #1F9BCC;
}

.filterSubjects:hover {
  color:red;
}

#closeNavFilter {
  color: lightgreen;
}

#authorFilter, #categoryFilter {
  background-color: #495152;
}

.authorName, .categorySubject {
  color: #ECF0F1;
}

.expand, .hide {
  color: darkblue;
}

/******************
  MEDIA QUERIES
******************/

@media screen and (max-width: 400px) {
  nav li {
    display: block;

  }

  #authorFilter {
    width: 100px;
    left: 100%;
  }

  #categoryFilter {
    width: 100px;
    left: 100%;
  }

  .authorName {
    font-size: .7em;
    width: 90px;
  }



}
