/* State */
.search-category-subject:hover {
  color: #F2B100;
}

/* State */
.articleTitle {
  cursor: pointer;
}


/* State  */
.search-author-name:hover {
  color: #F2B100;
}


/* State */
.searchList-item:hover {
  color:red;
}

/* State */
.site-Nav-tab:hover, .site-Nav-tab a:hover{
  color: #F2B100;
}

.type-stats-heading:hover {
  color:red;
}
